.day-title{
    margin-bottom: 4rem;
}
@media screen and (max-width: 27.5em) {
    .day-title{
        margin-bottom: 1rem;
    }
    .day-title{
        transition: 1s;
        margin-left: 12px;
        text-decoration: none;
        font-size: 15px;
        color:rgb(95, 174, 148);
        font-weight: 900;
        border-radius: 8px;
    }  
}