.quiz-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.num-of-questions, .directions{
    margin: 0;
    margin-bottom: 5px;
}


.inner-quiz-container{
    border-radius: 12px;
    border: 1px solid cadetblue;
    padding: 2rem;
    margin-top: 120px;
    width: 60vw;
    height: auto;
}
.quiz-list-container{
    display: flex;
    flex-direction: column;
    padding-left: 0px;
}
.quiz-answers{
    list-style-type: none;
    width: auto;
    padding: 1rem;
    padding-left: 0;
    border-radius: 8px;
    word-break: break-all;
}

.quiz-answers:hover  {
    background-color:bisque;
    
}

.start-game {
    align-items: center;
    margin-top: 30vh;
    border-radius: 12px;
    border: 2px solid cadetblue;
    padding: 8px;
}

@media screen and (max-width: 27.5em) {
    .inner-quiz-container{
        border-radius: 12px;
        border: 4px solid cadetblue;
        padding: 2rem;
        margin-top: 120px;
        width: 75vw;
        height: auto;
    }

    .eval{
        width: 75vw;
        position: relative;
        word-break: break-all;
        margin-bottom: 12px;
    }
  }