.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.examples,
.word-and-definition {
  background-color: aqua;
  border-radius: 12px;
  justify-content: center;
  height: auto;
  margin-bottom: 2rem;
  padding: 2rem;
  width: 60%;
}

.note {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 27.5em) {
  .examples,
  .word-and-definition {
    width: 80vw;
    height: auto;
  }
  .word-and-definition{
    margin-top: 12px;
  }
}