.navbar{
    background-color:cadetblue;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 4rem;
}
.logo img{
    width: 120px;
}
.word-of-the-day-button, .home-button, .learn-button{
    transition: 1s;
    color: aliceblue;
    text-decoration: none;
    font-size: larger;
    border-radius: 8px;
    padding: 12px;
}


.word-of-the-day-button:hover, .home-button:hover, .learn-button:hover{
    transition: 2s;
    color: black;
    background-color:blanchedalmond;
    border-radius: 8px;
}

.active {
    transition: 2s;
    background-color: blanchedalmond;
    color:cadetblue;
  }

  @media screen and (max-width: 27.5em) {

    .word-of-the-day-button, .home-button, .learn-button{
        transition: 1s;
        color: aliceblue;
        text-decoration: none;
        font-size: 12px;
        border-radius: 8px;
        padding: 5px;
    }
    
  }